In [3]:
import pandas as pd

In [19]:
# read diabetes dataset
data = pd.read_csv('/kaggle/input/diabetes-dataset/diabetes_dataset.csv')

# find # of rows 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [21]:
# don't use as function
data.shape

(768, 9)

In [30]:
#data.head(10)
# .loc search by index, result is Series
data.loc[0,"Outcome"]  # [index, Column]

1

In [38]:
data['BloodPressure'].max()
data.max()  # max for all columns

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [56]:
data.loc[(data['Glucose'] == 199.00) | (data['BMI'] == 67.10)] # returns string
#print(filter)
#data.query("Glucose == 199.10 | BMI == 67.10") # returns dataframe

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
177,0,129,110,46,130,67.1,0.319,26,1
661,1,199,76,43,0,42.9,1.394,22,1

In [150]:
# find most common value in Glucose attribute and return all rows which matches the common value
df = data['Glucose'].value_counts().head(1).to_frame().reset_index()
data.loc[data['Glucose'] == df.iloc[0]['Glucose']]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
21,8,99,84,0,0,35.4,0.388,50,0
65,5,99,74,27,0,29.0,0.203,32,0
119,4,99,76,15,51,23.2,0.223,21,0
156,2,99,52,15,94,24.6,0.637,21,0
203,2,99,70,16,44,20.4,0.235,27,0
316,3,99,80,11,64,19.3,0.284,30,0
348,3,99,62,19,74,21.8,0.279,26,0
365,5,99,54,28,83,34.0,0.499,30,0
430,2,99,0,0,0,22.2,0.108,23,0
488,4,99,72,17,0,25.6,0.294,28,0
492,4,99,68,38,0,32.8,0.145,33,0
514,3,99,54,19,86,25.6,0.154,24,0
563,6,99,60,19,54,26.9,0.497,32,0
566,1,99,72,30,18,38.6,0.412,21,0
671,1,99,58,10,0,25.4,0.551,21,0
697,0,99,0,0,0,25.0,0.253,22,0
738,2,99,60,17,160,36.6,0.453,21,0

In [156]:
data.loc[:, ['Insulin', 'Glucose']]

     Insulin  Glucose
0          0      148
1          0       85
2          0      183
3         94       89
4        168      137
..       ...      ...
763      180      101
764        0      122
765      112      121
766        0      126
767        0       93

[768 rows x 2 columns]